{%load static%}
<!DOCTYPE html>
<head>
    <title>login</title>
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% for  message in messages%}
    <div class="alert alert-warning alert-dismissable fade show"  role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor%}
    <div id="box">
        <div class="container">
        <h1>login</h1>
        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
        <p class="text-center small">Enter your username &amp; password to login</p>
        <form method="post" action="{% url 'login' %}">
            {%csrf_token%}
            {{ login_form.as_p }}
        <div id="username">
        <label for="user id">username: </label>
        <input type="text" name="username" maxlength="20" placeholder="username" required><br></div>
        <div id="pword"><label for="password">password: </label>
        <input type="password" name="password1" minlength="8" maxlength="20" placeholder="password" required><br></div>
        <div id="button" ><button type='submit' class="btn btn-outline-success btn-sm btn-mr" style="float: right;">login</button></div>
    </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
crossorigin="anonymous"></script> 
</body>